* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculadora {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid black;
    font-size: 2rem;
}

.calculadora-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid black;
    overflow-x: auto;
}

.calculadora-2 {
    display: flex;
    width: 100%;
}

.numeros {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.calculadora-2-botones {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.calculadora-2-botones:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.calculadora-2-botones.azul {
    background-color: blue;
}

.calculadora-2-botones.largo {
    width: 50%;
}

.calculadora-2-botones.oscuro {
    background-color: lightslategray;
}